In [10]:
import pandas as pd


df = pd.read_csv("Car_sales.csv")


print(df.shape, "\n")
print(df.head(), "\n")
print(df.info(), "\n")
print(df.columns, "\n")
print(df.describe(), "\n")

(157, 15)

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
None

Index(['Manufacturer', 'Model', 'Sales in thousands', '4-year resale value',
       'Vehicle type', 'Price in thousands', 'Engine size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity',
       'Fuel efficiency', 'Latest Launch'],
      dtype='object')

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000